@import url('./reset.css');
/* @import url('./vite-promo.css'); */
/* @import url('./header.css'); */

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
/*====================================form=========================*/
.form {
  display: block;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
}
.input-search {
  height: 16px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #808080;
  resize: none;
  color: #2e2f42;
}
.input-search:hover,
.input-search:focus {
  border: 1px solid #000;
}
.submit-btn {
  padding: 8px 16px;
  color: #fff;
  border-radius: 8px;
  border: none;
  background: #4e75ff;
}
.submit-btn:hover,
.submit-btn:focus {
  background: #6c8cff;
}
/*====================================/form=========================*/
/*====================================gallery=========================*/
ul,
li {
  list-style: none;
}

.gallery {
  display: flex;
  width: 1128px;
  padding-bottom: 24px;
  margin: 48px auto;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
.gallery-link {
  display: block;
  width: 360px;
}
.gallery-image {
  width: 100%;
  height: 200px;
}
.gallery-stats {
  display: flex;
  width: 100%;
}
.gallery-stats-item {
  text-align: center;
  flex-basis: calc(100% / 4);
}
.stats-title {
  text-align: center;
  font-size: 13px;
}
.stats.value {
  text-align: center;
  font-size: 13px;
}
/*====================================/gallery=========================*/
жовтень 12

/*====================================loader========================*/
.loader {
  margin: 0 auto;
  display: none;
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: blue;
}
.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: yellow;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}
/*====================================/loader=========================*/
